In [1]:
import pandas as pd 
df=pd.read_csv('../DATA/BA_reviews.csv',index_col=0)

In [2]:
!pip install nltk
!pip install nltk==3.8
!pip install vaderSentiment

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in c:\users\lenovo\appdata\roaming\python\python311\site-packages (3.8)
Requirement already satisfied: click in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from nltk) (2023.12.25)
Requirement already satisfied: tqdm in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from nltk) (4.66.1)
Requirement already satisfied: colorama in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from click->nltk) (0.4.6)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk==3.8 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (3.8)
Requirement already satisfied: click in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from nltk==3.8) (8.1.7)
Requirement already satisfied: joblib in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from nltk==3.8) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from nltk==3.8) (2023.12.25)
Requirement already satisfied: tqdm in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from nltk==3.8) (4.66.1)
Requirement already satisfied: colorama in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from click->nltk==3.8) (0.4.6)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: vaderSentiment in c:\users\lenovo\appdata\roaming\python\python311\site-packages (3.3.2)
Requirement already satisfied: requests in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from vaderSentiment) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from requests->vaderSentiment) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from requests->vaderSentiment) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from requests->vaderSentiment) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from requests->vaderSentiment) (2023.7.22)

In [3]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer 


sia = SentimentIntensityAnalyzer()

# classifying sentiment scores in negative,positive based on text review and recommended column
def get_sentiment(row):
    sentiment_score = sia.polarity_scores(row['Text Review'])['compound']
    if sentiment_score >= 0 and row['Recommended'] == 'yes':
        return 'Positive'
    elif sentiment_score <= 0 or row['Recommended'] == 'no':
        return 'Negative'
    elif row['Recommended'=='yes']:
        return 'Positive'


df['Sentiment'] = df.apply(get_sentiment, axis=1)

In [4]:

df.head(20)

,Text Review,Type of Traveler,Aircraft,Seat Type,Seat Comfort Rating,Cabin Staff Service Rating,Food Beverages Rating,Inflight Entertainment Rating,Ground Service Rating,Value for Money Rating,Recommended,Sentiment
0,Really terrible user experience. British Air...,Solo Leisure,0,Economy Class,0,0,0,0,1,3,no,Negative
1,Very impressed with BA. Check in online was a...,Couple Leisure,0,Economy Class,4,5,5,5,4,4,yes,Positive
2,"LHR - SFO, LAS - LGW August 2023 in Club Wor...",Family Leisure,A380 / Boeing 777-200ER,Business Class,2,5,4,4,5,2,no,Negative
3,I flew from Malaga via LHR to Boston on the ...,Couple Leisure,0,Economy Class,2,2,1,2,1,2,no,Negative
4,Milan to Miami return via London. Worst busi...,Couple Leisure,A380,Business Class,1,2,3,2,2,1,no,Negative
5,BA created a new low-cost subsidiary in BA E...,Couple Leisure,A320,Economy Class,2,1,1,0,3,1,no,Negative
6,I flew with British Airways from Heathrow t...,Solo Leisure,0,Economy Class,3,3,0,0,1,1,no,Negative
7,Manchester to Copenhagen via London on 30th ...,Solo Leisure,A319 / A320,Economy Class,3,3,2,0,4,4,yes,Negative
8,I have never seen such disrespect to a custo...,Solo Leisure,0,Economy Class,1,1,0,0,1,1,no,Negative
9,Paid for a 14 hour long flight ticket which ...,Business,A380,Economy Class,3,3,3,1,1,1,no,Negative
10,Very inconsiderate PA announcements were mad...,Business,A320,Economy Class,3,1,1,0,2,1,no,Negative
11,"Absolutely terrible, lost my luggage on both...",Solo Leisure,A350,Economy Class,3,2,1,0,1,1,no,Negative
12,We booked premium economy round trip from Ph...,Couple Leisure,0,Premium Economy,2,1,1,2,1,1,no,Negative
13,We chose Rotterdam and London City airport b...,Couple Leisure,A319 / E190,Economy Class,3,3,3,0,3,2,no,Negative
14,The entire booking and ticketing experience h...,Solo Leisure,0,Premium Economy,2,3,0,0,3,1,no,Negative
15,British Airways cancelled my flight less tha...,Family Leisure,0,Economy Class,0,0,0,0,1,1,no,Negative
16,I wanted to write this review so I could give ...,Business,A340,Business Class,3,4,3,4,5,4,yes,Positive
17,Check in fast and friendly. Security a breez...,Business,Boeing 787,Business Class,3,5,3,4,4,3,yes,Positive
18,This is the first time I have seen the new C...,Couple Leisure,Boeing 777-200,Business Class,3,1,1,2,2,1,no,Negative
19,Flew business class from Doha to London on 3...,Couple Leisure,Boeing 777-200,Business Class,5,1,1,5,5,3,no,Negative

In [5]:
df.to_csv('../DATA/BA_reviews.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3740 entries, 0 to 3739
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Text Review                    3740 non-null   object
 1   Type of Traveler               3740 non-null   object
 2   Aircraft                       3740 non-null   object
 3   Seat Type                      3740 non-null   object
 4   Seat Comfort Rating            3740 non-null   int64
 5   Cabin Staff Service Rating     3740 non-null   int64
 6   Food Beverages Rating          3740 non-null   int64
 7   Inflight Entertainment Rating  3740 non-null   int64
 8   Ground Service Rating          3740 non-null   int64
 9   Value for Money Rating         3740 non-null   int64
 10  Recommended                    3740 non-null   object
 11  Sentiment                      3740 non-null   object
dtypes: int64(6), object(6)
memory usage: 379.8+ KB